{{ form_start(form) }}

<div class="card">
    <div class="card-body">
        {# Section 1: Basic Information #}
        <h5 class="border-bottom pb-2 mb-3">
            <i class="bi bi-info-circle" aria-hidden="true"></i> Basic Information (Art. 30(1)(a))
        </h5>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.status) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.purposes) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.legalBasis) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.legalBasisDetails) }}
            </div>
        </div>

        {# Section 2: Data Subjects #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-people" aria-hidden="true"></i> Data Subjects (Art. 30(1)(b))
        </h5>
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.dataSubjectCategories) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.estimatedDataSubjectsCount) }}
            </div>
        </div>

        {# Section 3: Personal Data #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-database" aria-hidden="true"></i> Personal Data (Art. 30(1)(c))
        </h5>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.personalDataCategories) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.processesSpecialCategories) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.processesCriminalData) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.specialCategoriesDetails) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.legalBasisSpecialCategories) }}
            </div>
        </div>

        {# Section 4: Recipients & Transfers #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-arrow-left-right" aria-hidden="true"></i> Recipients & Transfers (Art. 30(1)(d-e))
        </h5>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.recipientCategories) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.hasThirdCountryTransfer) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.recipientDetails) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.thirdCountries) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.transferSafeguards) }}
            </div>
        </div>

        {# Section 5: Retention #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-calendar-check" aria-hidden="true"></i> Retention (Art. 30(1)(f))
        </h5>
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.retentionPeriod) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.retentionPeriodDays) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.retentionLegalBasis) }}
            </div>
        </div>

        {# Section 6: TOMs #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-shield-lock" aria-hidden="true"></i> Security Measures (Art. 30(1)(g))
        </h5>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.technicalOrganizationalMeasures) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.implementedControls) }}
            </div>
        </div>

        {# Section 7: Organization #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-building" aria-hidden="true"></i> Organization
        </h5>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.responsibleDepartment) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.contactPerson) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dataProtectionOfficer) }}
            </div>
        </div>

        {# Section 8: Processors & Joint Controllers #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-diagram-3" aria-hidden="true"></i> Processors & Joint Controllers
        </h5>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.involvesProcessors) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.isJointController) }}
            </div>
        </div>

        {# Section 9: Risk & DPIA #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-exclamation-triangle" aria-hidden="true"></i> Risk Assessment (Art. 35)
        </h5>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.isHighRisk) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dpiaCompleted) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dpiaDate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.riskLevel) }}
            </div>
        </div>

        {# Section 10: Automated Decision-Making #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-cpu" aria-hidden="true"></i> Automated Decision-Making (Art. 22)
        </h5>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.hasAutomatedDecisionMaking) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.automatedDecisionMakingDetails) }}
            </div>
        </div>

        {# Section 11: Additional Info #}
        <h5 class="border-bottom pb-2 mb-3 mt-4">
            <i class="bi bi-three-dots" aria-hidden="true"></i> Additional Information
        </h5>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.dataSources) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.startDate) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.endDate) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.nextReviewDate) }}
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mb-4">
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check-lg" aria-hidden="true"></i> Save Processing Activity
    </button>
    <a href="{{ path('app_processing_activity_index') }}" class="btn btn-secondary">
        <i class="bi bi-x-lg" aria-hidden="true"></i> Cancel
    </a>
</div>

{{ form_end(form) }}
