{% extends 'base.html.twig' %}
{% trans_default_domain 'change_requests' %}

{% block title %}{{ 'change_request.new'|trans({}, 'change_requests') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <nav aria-label="breadcrumb" class="mb-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_change_request_index') }}" data-turbo-action="advance">
                            <i class="bi bi-arrow-left-right" aria-hidden="true"></i> {{ 'change_request.title'|trans({}, 'change_requests') }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'change_request.new'|trans({}, 'change_requests') }}</li>
                </ol>
            </nav>

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0">
                    <i class="bi bi-plus-circle" aria-hidden="true"></i> {{ 'change_request.page.new'|trans({}, 'change_requests') }}
                </h1>
                <a href="{{ path('app_change_request_index') }}" class="btn btn-outline-secondary" data-turbo-action="advance">
                    <i class="bi bi-arrow-left" aria-hidden="true"></i> {{ 'common.back'|trans({}, 'messages') }}
                </a>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">{{ 'change_request.new'|trans({}, 'change_requests') }}</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {# Basic Information #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-info-square" aria-hidden="true"></i>
                            {{ 'change_request.section.basic_info'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {'field': form.changeNumber, 'label': 'change_request.field.change_number'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-8">
                                {% include '_components/_form_field.html.twig' with {'field': form.title, 'label': 'change_request.field.title'|trans({}, 'change_requests'), 'required': true} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.changeType, 'label': 'change_request.field.change_type'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.description, 'label': 'change_request.field.description'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.justification, 'label': 'change_request.field.justification'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Request Details #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-person-badge" aria-hidden="true"></i>
                            {{ 'change_request.section.request_details'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.requestedBy, 'label': 'change_request.field.requested_by'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.requestedDate, 'label': 'change_request.field.requested_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.priority, 'label': 'change_request.field.priority'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.status, 'label': 'change_request.field.status'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Impact Assessment #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-shield-exclamation" aria-hidden="true"></i>
                            {{ 'change_request.section.impact_assessment'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.ismsImpact, 'label': 'change_request.field.isms_impact'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.riskAssessment, 'label': 'change_request.field.risk_assessment'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Implementation #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-gear" aria-hidden="true"></i>
                            {{ 'change_request.section.implementation'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.implementationPlan, 'label': 'change_request.field.implementation_plan'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.rollbackPlan, 'label': 'change_request.field.rollback_plan'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.testingRequirements, 'label': 'change_request.field.testing_requirements'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.plannedImplementationDate, 'label': 'change_request.field.planned_implementation_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.actualImplementationDate, 'label': 'change_request.field.actual_implementation_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.implementedBy, 'label': 'change_request.field.implemented_by'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.implementationNotes, 'label': 'change_request.field.implementation_notes'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Approval #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-check-circle" aria-hidden="true"></i>
                            {{ 'change_request.section.approval'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.approvedBy, 'label': 'change_request.field.approved_by'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.approvedDate, 'label': 'change_request.field.approved_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.approvalComments, 'label': 'change_request.field.approval_comments'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Verification & Closure #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-clipboard-check" aria-hidden="true"></i>
                            {{ 'change_request.section.verification_closure'|trans({}, 'change_requests') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.verifiedBy, 'label': 'change_request.field.verified_by'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.verifiedDate, 'label': 'change_request.field.verified_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.verificationResults, 'label': 'change_request.field.verification_results'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {'field': form.closedDate, 'label': 'change_request.field.closed_date'|trans({}, 'change_requests')} %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {'field': form.closureNotes, 'label': 'change_request.field.closure_notes'|trans({}, 'change_requests')} %}
                            </div>
                        </div>
                    </fieldset>

                    {# Form Actions #}
                    <div class="d-flex justify-content-between align-items-center pt-3 border-top">
                        <a href="{{ path('app_change_request_index') }}" class="btn btn-outline-secondary" data-turbo-action="advance">
                            <i class="bi bi-x-circle" aria-hidden="true"></i> {{ 'common.cancel'|trans({}, 'messages') }}
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-save" aria-hidden="true"></i> {{ 'change_request.action.create'|trans({}, 'change_requests') }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
