{% extends 'base.html.twig' %}
{% trans_default_domain 'dora_data_flow' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'dora_data_flow.title.list'|trans({}, 'dora_data_flow') }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.dora_compliance'|trans({}, 'nav'), url: path('app_dora_compliance_dashboard') },
            { label: 'dora_data_flow.title.list'|trans({}, 'dora_data_flow') }
        ]
    } %}

    {{ _fa_page_header.render({
        badge: { icon: 'shield', label: 'DORA Art. 28 · RT_03' },
        title: 'dora_data_flow.title.list'|trans({}, 'dora_data_flow'),
        subtitle: 'dora_data_flow.description.overview'|trans({}, 'dora_data_flow'),
        actions: [
            { label: 'dora_data_flow.action.create'|trans({}, 'dora_data_flow'), variant: 'primary', icon: 'plus', href: path('app_dora_data_flow_new'), attrs: { 'data-turbo-frame': 'fa-form-modal' } }
        ]
    }) }}
</div>

<main class="fa-aurora-surface">
    {% embed '_components/_table.html.twig' with {
        'wrapperClass': 'table-container'
    } %}
        {% block table_head %}
            <tr>
                <th scope="col">{{ 'dora_data_flow.field.supplier'|trans({}, 'dora_data_flow') }}</th>
                <th scope="col">{{ 'dora_data_flow.field.direction'|trans({}, 'dora_data_flow') }}</th>
                <th scope="col">{{ 'dora_data_flow.field.data_categories'|trans({}, 'dora_data_flow') }}</th>
                <th scope="col">{{ 'dora_data_flow.field.cross_border'|trans({}, 'dora_data_flow') }}</th>
                <th scope="col">{{ 'dora_data_flow.field.receiving_country'|trans({}, 'dora_data_flow') }}</th>
                <th scope="col" class="text-center">{{ 'common.actions'|trans({}, 'messages') }}</th>
            </tr>
        {% endblock %}
        {% block table_body_attrs %}id="dora-data-flow-rows"{% endblock %}
        {% block table_body %}
            {% for flow in flows %}
                {% include 'dora_data_flow/_row.html.twig' with { flow: flow } %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center-p-xl-muted">
                    {{ 'dora_data_flow.message.no_flows'|trans({}, 'dora_data_flow') }}
                </td>
            </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
</main>
{% endblock %}
