{% extends 'admin/layout.html.twig' %}
{% trans_default_domain 'notification' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'notification.channel.new.title'|trans }}{% endblock %}
{% block admin_title %}{{ 'notification.channel.new.title'|trans }}{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_notification_channel_index') }}">{{ 'notification.channel.index.title'|trans }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'notification.channel.new.title'|trans }}</li>
{% endblock %}

{% block admin_content %}
    {{ _fa_page_header.render({
        badge: { icon: 'send', label: 'Channels' },
        title: 'notification.channel.new.title'|trans,
        subtitle: 'notification.channel.new.subtitle'|trans,
        actions: [
            {
                label: 'common.back'|trans({}, 'messages'),
                variant: 'ghost',
                icon: 'util-arrow-left',
                href: path('admin_notification_channel_index')
            }
        ]
    }) }}

    <section class="fa-section">
        <div class="fa-section__body">
            {{ form_start(form, { attr: { class: 'needs-validation', novalidate: 'novalidate' } }) }}
                {{ form_errors(form) }}

                <div class="row g-3">
                    <div class="col-md-8">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col-12">
                        <div class="alert alert-info">
                            <strong>{{ 'notification.channel.help.config_examples'|trans }}</strong><br>
                            <code>{{ 'notification.channel.help.config_email_example'|trans }}</code>
                        </div>
                        {{ form_row(form.configJson) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.secretPlain) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.isActive) }}
                    </div>
                </div>

                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary">
                        <i class="fa-icon fa-icon--save" aria-hidden="true"></i>
                        {{ 'notification.channel.action.create'|trans }}
                    </button>
                    <a href="{{ path('admin_notification_channel_index') }}" class="fa-cyber-btn fa-cyber-btn--ghost">
                        {{ 'common.cancel'|trans({}, 'messages') }}
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
