{% extends 'base.html.twig' %}
{% trans_default_domain 'objective'%}

{% block title %}{{ 'objective.title.edit'|trans({}, 'objective') }}: {{ objective.title }} - {{ 'app.title'|trans({}, 'messages') }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.objectives'|trans({}, 'nav'), url: path('app_objective_index') },
            { label: objective.title, url: path('app_objective_show', {id: objective.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    <div class="card">
        <div class="card-header bg-primary text-white"><h5 class="mb-0">{{ 'objective.title.edit'|trans({}, 'objective') }}: {{ objective.title }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            {# Basic Information #}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">
                    <i class="bi bi-info-square" aria-hidden="true"></i>
                    {{ 'objective.section.basic_info'|trans({}, 'objective') }}
                </legend>

                <div class="row">
                    <div class="col-md-8">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.title,
                            'label': 'objective.field.title'|trans({}, 'objective'),
                            'required': true
                        } %}
                    </div>
                    <div class="col-md-4">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.category,
                            'label': 'objective.field.category'|trans({}, 'objective')
                        } %}
                    </div>
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.description,
                            'label': 'objective.field.description'|trans({}, 'objective')
                } %}
            </div>
        </div>
    </fieldset>

    {# Measurement #}
    <fieldset class="mb-4">
        <legend class="h5 mb-3">
            <i class="bi bi-graph-up" aria-hidden="true"></i>
            {{ 'objective.section.measurement'|trans({}, 'objective') }}
        </legend>

        <div class="row">
            <div class="col-md-12">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.measurableIndicators,
                    'label': 'objective.field.measurable_indicators'|trans({}, 'objective')
                } %}
            </div>
            <div class="col-md-4">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.targetValue,
                    'label': 'objective.field.target_value'|trans({}, 'objective')
                } %}
            </div>
            <div class="col-md-4">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.currentValue,
                    'label': 'objective.field.current_value'|trans({}, 'objective')
                } %}
            </div>
            <div class="col-md-4">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.unit,
                    'label': 'objective.field.unit'|trans({}, 'objective')
                } %}
            </div>
        </div>
    </fieldset>

    {# Responsibility & Timeline #}
    <fieldset class="mb-4">
        <legend class="h5 mb-3">
            <i class="bi bi-person-badge" aria-hidden="true"></i>
            {{ 'objective.section.responsibility'|trans({}, 'objective') }}
        </legend>

                <div class="row">
                    <div class="col-md-6">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.responsiblePerson,
                            'label': 'objective.field.responsible_person'|trans({}, 'objective')
                } %}
            </div>
            <div class="col-md-6">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.targetDate,
                    'label': 'objective.field.target_date'|trans({}, 'objective')
                } %}
            </div>
        </div>
    </fieldset>

    {# Status & Progress #}
    <fieldset class="mb-4">
        <legend class="h5 mb-3">
            <i class="bi bi-clipboard-check" aria-hidden="true"></i>
            {{ 'objective.section.status_progress'|trans({}, 'objective') }}
        </legend>

                <div class="row">
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.status,
                            'label': 'objective.field.status'|trans({}, 'objective')
                } %}
            </div>
            <div class="col-md-12">
                {% include '_components/_form_field.html.twig' with {
                    'field': form.progressNotes,
                    'label': 'objective.field.progress_notes'|trans({}, 'objective')
                } %}
            </div>
        </div>
    </fieldset>

    <div class="d-flex justify-content-between pt-3 border-top">
        <a href="{{ path('app_objective_show', {id: objective.id}) }}" class="btn btn-outline-secondary">{{ 'common.cancel'|trans({}, 'messages') }}</a>
        <button type="submit" class="btn btn-primary">{{ 'common.save_changes'|trans({}, 'messages') }}</button>
    </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
