{% extends 'base.html.twig' %}
{% trans_default_domain 'objectives' %}

{% block title %}{{ 'objectives.title.new'|trans({}, 'messages') }} - {{ 'app.title'|trans({}, 'messages') }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="card">
        <div class="card-header bg-primary text-white"><h5 class="mb-0">{{ 'objectives.title.new'|trans({}, 'messages') }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            {# Basic Information #}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">
                    <i class="bi bi-info-square" aria-hidden="true"></i>
                    {{ 'objectives.section.basic_info'|trans({}, 'messages') }}
                </legend>

                <div class="row">
                    <div class="col-md-8">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.title,
                            'label': form.title.vars.label|default('objectives.field.title'|trans({}, 'messages')),
                            'required': true,
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-4">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.category,
                            'label': form.category.vars.label|default('objectives.field.category'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.description,
                            'label': form.description.vars.label|default('objectives.field.description'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                </div>
            </fieldset>

            {# Measurement #}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">
                    <i class="bi bi-graph-up" aria-hidden="true"></i>
                    {{ 'objectives.section.measurement'|trans({}, 'messages') }}
                </legend>

                <div class="row">
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.measurableIndicators,
                            'label': form.measurableIndicators.vars.label|default('objectives.field.measurable_indicators'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-4">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.targetValue,
                            'label': form.targetValue.vars.label|default('objectives.field.target_value'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-4">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.currentValue,
                            'label': form.currentValue.vars.label|default('objectives.field.current_value'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-4">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.unit,
                            'label': form.unit.vars.label|default('objectives.field.unit'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                </div>
            </fieldset>

            {# Responsibility & Timeline #}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">
                    <i class="bi bi-person-badge" aria-hidden="true"></i>
                    {{ 'objectives.section.responsibility'|trans({}, 'messages') }}
                </legend>

                <div class="row">
                    <div class="col-md-6">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.responsiblePerson,
                            'label': form.responsiblePerson.vars.label|default('objectives.field.responsible_person'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-6">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.targetDate,
                            'label': form.targetDate.vars.label|default('objectives.field.target_date'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                </div>
            </fieldset>

            {# Status & Progress #}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">
                    <i class="bi bi-clipboard-check" aria-hidden="true"></i>
                    {{ 'objectives.section.status_progress'|trans({}, 'messages') }}
                </legend>

                <div class="row">
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.status,
                            'label': form.status.vars.label|default('objectives.field.status'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                    <div class="col-md-12">
                        {% include '_components/_form_field.html.twig' with {
                            'field': form.progressNotes,
                            'label': form.progressNotes.vars.label|default('objectives.field.progress_notes'|trans({}, 'messages')),
                            'domain': 'objectives'
                        } %}
                    </div>
                </div>
            </fieldset>

            <div class="d-flex justify-content-between pt-3 border-top">
                <a href="{{ path('app_objective_index') }}" class="btn btn-outline-secondary">{{ 'common.cancel'|trans({}, 'messages') }}</a>
                <button type="submit" class="btn btn-primary">{{ 'objectives.action.create'|trans({}, 'messages') }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
