{% extends 'base.html.twig' %}

{% block title %}{{ 'compliance.framework.new.title'|trans({}, 'compliance') }}{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">
                        <i class="bi bi-plus-circle" aria-hidden="true"></i> {{ 'compliance.framework.new.heading'|trans({}, 'compliance') }}
                    </h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {# Framework Identification #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-tag" aria-hidden="true"></i>
                            {{ 'compliance.framework.section.identification'|trans({}, 'compliance') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.code,
                                    'label': 'compliance.framework.field.code'|trans({}, 'compliance'),
                                    'required': true
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.version,
                                    'label': 'compliance.framework.field.version'|trans({}, 'compliance')
                                } %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.name,
                                    'label': 'compliance.framework.field.name'|trans({}, 'compliance'),
                                    'required': true
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    {# Details #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-info-square" aria-hidden="true"></i>
                            {{ 'compliance.framework.section.details'|trans({}, 'compliance') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.description,
                                    'label': 'compliance.framework.field.description'|trans({}, 'compliance')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.applicableIndustry,
                                    'label': 'compliance.framework.field.industry'|trans({}, 'compliance')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.regulatoryBody,
                                    'label': 'compliance.framework.field.regulatory_body'|trans({}, 'compliance')
                                } %}
                            </div>
                            <div class="col-md-12">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.scopeDescription,
                                    'label': 'compliance.framework.field.scope'|trans({}, 'compliance')
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    {# Configuration #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-gear" aria-hidden="true"></i>
                            {{ 'compliance.framework.section.configuration'|trans({}, 'compliance') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.mandatory,
                                    'label': 'compliance.framework.field.mandatory'|trans({}, 'compliance')
                                } %}
                            </div>
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.active,
                                    'label': 'compliance.framework.field.active'|trans({}, 'compliance')
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    <div class="d-flex gap-2 pt-3 border-top">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle" aria-hidden="true"></i> {{ 'common.create'|trans({}, 'messages') }}
                        </button>
                        <a href="{{ path('app_compliance_framework_index') }}" class="btn btn-outline-secondary">
                            <i class="bi bi-x-circle" aria-hidden="true"></i> {{ 'common.cancel'|trans({}, 'messages') }}
                        </a>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h6 class="mb-0"><i class="bi bi-info-circle" aria-hidden="true"></i> {{ 'common.help'|trans({}, 'messages') }}</h6>
                </div>
                <div class="card-body">
                    <h4>{{ 'compliance.framework.help.code.title'|trans({}, 'compliance') }}</h4>
                    <p class="small text-muted">{{ 'compliance.framework.help.code.text'|trans({}, 'compliance') }}</p>

                    <h4>{{ 'compliance.framework.help.mandatory.title'|trans({}, 'compliance') }}</h4>
                    <p class="small text-muted">{{ 'compliance.framework.help.mandatory.text'|trans({}, 'compliance') }}</p>

                    <h4>{{ 'compliance.framework.help.active.title'|trans({}, 'compliance') }}</h4>
                    <p class="small text-muted">{{ 'compliance.framework.help.active.text'|trans({}, 'compliance') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
