{% trans_default_domain 'compliance' %}
{# Tab 4: Explanation / Info #}
<h2 class="section-title"><i class="fa-icon fa-icon--ui-lightbulb" aria-hidden="true"></i> {{ 'compliance.section.mapping_explanation'|trans({}, 'compliance') }}</h2>

<div class="grid-gap-15">
    {% embed '_components/_card.html.twig' with { 'variant': 'bordered', 'borderColor': 'info', 'class': 'card-card-border-left-info-lg' } %}
        {% block card_body %}
            <h3 class="h-info-no-mt">{{ 'compliance.explanation.what_are_mappings_title'|trans({}, 'compliance') }}</h3>
            <p class="lh-16">
                {{ 'compliance.explanation.what_are_mappings'|trans({}, 'compliance') }}
            </p>
        {% endblock %}
    {% endembed %}

    {% embed '_components/_card.html.twig' with { 'variant': 'bordered', 'borderColor': 'success', 'class': 'card-card-border-left-success-lg' } %}
        {% block card_body %}
            <h3 class="h-success-no-mt">{{ 'compliance.explanation.mapping_types_title'|trans({}, 'compliance') }}</h3>
            <ul class="lh-18-pl">
                <li><strong>{{ 'compliance.explanation.mapping_types_exceeds'|trans({}, 'compliance') }}</strong></li>
                <li><strong>{{ 'compliance.explanation.mapping_types_full'|trans({}, 'compliance') }}</strong></li>
                <li><strong>{{ 'compliance.explanation.mapping_types_partial'|trans({}, 'compliance') }}</strong></li>
                <li><strong>{{ 'compliance.explanation.mapping_types_weak'|trans({}, 'compliance') }}</strong></li>
            </ul>
        {% endblock %}
    {% endembed %}

    {% embed '_components/_card.html.twig' with { 'variant': 'bordered', 'borderColor': 'warning', 'class': 'card-card-border-left-warning-lg' } %}
        {% block card_body %}
            <h3 class="h-warning-no-mt">{{ 'compliance.explanation.strategic_value_title'|trans({}, 'compliance') }}</h3>
            <p class="lh-16">
                {{ 'compliance.explanation.strategic_value'|trans({}, 'compliance') }}
            </p>
        {% endblock %}
    {% endembed %}
</div>
