{#
    Asset Form Partial (Accessible)
    Used by both new.html.twig and edit.html.twig

    WCAG 2.1 AA Compliant Form with:
    - Proper ARIA attributes
    - Error handling
    - Help texts
    - Required field indicators
#}

{% trans_default_domain 'assets' %}

{# Basic Information Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="bi bi-info-circle" aria-hidden="true"></i>
        {{ 'asset.section.basic_info'|trans({}, 'asset') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.name,
                'label_key': 'asset.field.name',
                'help_key': 'asset.help.name',
                'translation_domain': 'assets',
                'required': true
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.assetType,
                'label_key': 'asset.field.type',
                'help_key': 'asset.help.type',
                'translation_domain': 'assets',
                'required': true
            } %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include '_components/_form_field.html.twig' with {
                'field': form.description,
                'label_key': 'asset.field.description',
                'help_key': 'asset.help.description',
                'translation_domain': 'assets'
            } %}
        </div>
    </div>
</fieldset>

{# Assignment Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="bi bi-person-badge" aria-hidden="true"></i>
        {{ 'asset.section.assignment'|trans({}, 'asset') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.owner,
                'label_key': 'asset.field.owner',
                'help_key': 'asset.help.owner',
                'translation_domain': 'assets'
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.location,
                'label_key': 'asset.field.location',
                'help_key': 'asset.help.location',
                'translation_domain': 'assets'
            } %}
        </div>
    </div>
</fieldset>

{# Financial Information Section #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="bi bi-currency-dollar" aria-hidden="true"></i>
        {{ 'asset.section.financial'|trans({}, 'asset') }}
    </legend>

    <div class="row">
        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.acquisitionValue,
                'label_key': 'asset.field.acquisition_value',
                'help_key': 'asset.help.acquisition_value',
                'translation_domain': 'assets'
            } %}
        </div>

        <div class="col-md-6">
            {% include '_components/_form_field.html.twig' with {
                'field': form.currentValue,
                'label_key': 'asset.field.current_value',
                'help_key': 'asset.help.current_value',
                'translation_domain': 'assets'
            } %}
        </div>
    </div>
</fieldset>

{# CIA Values Section (Information Security) #}
<fieldset class="mb-4">
    <legend class="h5 mb-3">
        <i class="bi bi-shield-lock" aria-hidden="true"></i>
        {{ 'asset.section.cia_values'|trans({}, 'asset') }}
    </legend>

    <div class="alert alert-info" role="status">
        <i class="bi bi-info-circle" aria-hidden="true"></i>
        {{ 'asset.cia_help'|trans({}, 'asset') }}
    </div>

    <div class="row">
        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.confidentialityValue,
                'label_key': 'asset.field.confidentiality',
                'help_key': 'asset.help.confidentiality',
                'translation_domain': 'assets'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.integrityValue,
                'label_key': 'asset.field.integrity',
                'help_key': 'asset.help.integrity',
                'translation_domain': 'assets'
            } %}
        </div>

        <div class="col-md-4">
            {% include '_components/_form_field.html.twig' with {
                'field': form.availabilityValue,
                'label_key': 'asset.field.availability',
                'help_key': 'asset.help.availability',
                'translation_domain': 'assets'
            } %}
        </div>
    </div>
</fieldset>

{# Form Actions #}
<div class="form-actions d-flex gap-2 justify-content-end">
    <a href="{{ path('app_asset_index') }}"
       class="btn btn-secondary">
        <i class="bi bi-x-circle" aria-hidden="true"></i>
        {{ 'common.cancel'|trans({}, 'messages') }}
    </a>

    <button type="submit" class="btn btn-primary">
        <i class="{{ button_icon|default('bi-save') }}" aria-hidden="true"></i>
        {{ button_label|default('common.save'|trans({}, 'messages')) }}
    </button>
</div>
