{% extends 'base.html.twig' %}
{% trans_default_domain 'bc_plans' %}

{% block title %}{{ 'common.edit'|trans({}, 'messages') }}: {{ bc_plan.name }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.bcm'|trans({}, 'nav', 'nav'), url: path('app_bc_plan_index'), icon: 'bi-shield-exclamation' },
            { label: 'bc_plans.page.title'|trans({}, 'bc_plans'), url: path('app_bc_plan_index') },
            { label: bc_plan.name, url: path('app_bc_plan_show', {id: bc_plan.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    {% include '_components/_page_header.html.twig' with {
        title: ('common.edit'|trans({}, 'messages')) ~ ': ' ~ bc_plan.name,
        icon: 'bi-pencil',
        actions: [
            { label: 'common.view'|trans({}, 'messages'), url: path('app_bc_plan_show', {id: bc_plan.id}), variant: 'outline-primary', icon: 'bi-eye' },
            { label: 'common.back'|trans({}, 'messages'), url: path('app_bc_plan_index'), variant: 'secondary', icon: 'bi-arrow-left' }
        ]
    } %}

    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {# Basic Information #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-info-square" aria-hidden="true"></i> {{ 'bc_plans.section.basic_info'|trans({}, 'bc_plans') }}</legend>
                        {% include '_components/_form_field.html.twig' with {'field': form.name, 'label': 'bc_plans.field.name'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.name'|trans({}, 'bc_plans'), 'required': true} %}
                        {% include '_components/_form_field.html.twig' with {'field': form.businessProcess, 'label': 'bc_plans.field.business_process'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.business_process'|trans({}, 'bc_plans')} %}
                        {% include '_components/_form_field.html.twig' with {'field': form.description, 'label': 'bc_plans.field.description'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.description'|trans({}, 'bc_plans')} %}
                        <div class="row">
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.planOwner, 'label': 'bc_plans.field.plan_owner'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.plan_owner'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.status, 'label': 'bc_plans.field.status'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.status'|trans({}, 'bc_plans')} %}</div>
                        </div>
                    </fieldset>

                    {# Team #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-people" aria-hidden="true"></i> {{ 'bc_plans.section.team'|trans({}, 'bc_plans') }}</legend>
                        {% include '_components/_form_field.html.twig' with {'field': form.bcTeam, 'label': 'bc_plans.field.bc_team'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.bc_team'|trans({}, 'bc_plans')} %}
                    </fieldset>

                    {# Activation & Response #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-lightning" aria-hidden="true"></i> {{ 'bc_plans.section.activation'|trans({}, 'bc_plans') }}</legend>
                        {% include '_components/_form_field.html.twig' with {'field': form.activationCriteria, 'label': 'bc_plans.field.activation_criteria'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.activation_criteria'|trans({}, 'bc_plans')} %}
                        {% include '_components/_form_field.html.twig' with {'field': form.rolesAndResponsibilities, 'label': 'bc_plans.field.roles_responsibilities'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.roles_responsibilities'|trans({}, 'bc_plans')} %}
                        {% include '_components/_form_field.html.twig' with {'field': form.recoveryProcedures, 'label': 'bc_plans.field.recovery_procedures'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.recovery_procedures'|trans({}, 'bc_plans')} %}
                    </fieldset>

                    {# Communication #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-chat-dots" aria-hidden="true"></i> {{ 'bc_plans.section.communication'|trans({}, 'bc_plans') }}</legend>
                        {% include '_components/_form_field.html.twig' with {'field': form.communicationPlan, 'label': 'bc_plans.field.communication_plan'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.communication_plan'|trans({}, 'bc_plans')} %}
                        <div class="row">
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.internalCommunication, 'label': 'bc_plans.field.internal_communication'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.internal_communication'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.externalCommunication, 'label': 'bc_plans.field.external_communication'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.external_communication'|trans({}, 'bc_plans')} %}</div>
                        </div>
                    </fieldset>

                    {# Alternative Site #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-building" aria-hidden="true"></i> {{ 'bc_plans.section.alternative_site'|trans({}, 'bc_plans') }}</legend>
                        {% include '_components/_form_field.html.twig' with {'field': form.alternativeSite, 'label': 'bc_plans.field.alternative_site'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.alternative_site'|trans({}, 'bc_plans')} %}
                        <div class="row">
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.alternativeSiteAddress, 'label': 'bc_plans.field.alternative_site_address'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.alternative_site_address'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.alternativeSiteCapacity, 'label': 'bc_plans.field.alternative_site_capacity'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.alternative_site_capacity'|trans({}, 'bc_plans')} %}</div>
                        </div>
                    </fieldset>

                    {# Backup & Recovery #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-hdd" aria-hidden="true"></i> {{ 'bc_plans.section.backup_recovery'|trans({}, 'bc_plans') }}</legend>
                        <div class="row">
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.backupProcedures, 'label': 'bc_plans.field.backup_procedures'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.backup_procedures'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.restoreProcedures, 'label': 'bc_plans.field.restore_procedures'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.restore_procedures'|trans({}, 'bc_plans')} %}</div>
                        </div>
                    </fieldset>

                    {# Version & Review #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3"><i class="bi bi-calendar-check" aria-hidden="true"></i> {{ 'bc_plans.section.version_review'|trans({}, 'bc_plans') }}</legend>
                        <div class="row">
                            <div class="col-md-4">{% include '_components/_form_field.html.twig' with {'field': form.version, 'label': 'bc_plans.field.version'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.version'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-4">{% include '_components/_form_field.html.twig' with {'field': form.lastTested, 'label': 'bc_plans.field.last_tested'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.last_tested'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-4">{% include '_components/_form_field.html.twig' with {'field': form.nextTestDate, 'label': 'bc_plans.field.next_test_date'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.next_test_date'|trans({}, 'bc_plans')} %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.lastReviewDate, 'label': 'bc_plans.field.last_review_date'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.last_review_date'|trans({}, 'bc_plans')} %}</div>
                            <div class="col-md-6">{% include '_components/_form_field.html.twig' with {'field': form.nextReviewDate, 'label': 'bc_plans.field.next_review_date'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.next_review_date'|trans({}, 'bc_plans')} %}</div>
                        </div>
                        {% include '_components/_form_field.html.twig' with {'field': form.reviewNotes, 'label': 'bc_plans.field.review_notes'|trans({}, 'bc_plans'), 'help': 'bc_plans.help.review_notes'|trans({}, 'bc_plans')} %}
                    </fieldset>

                    {# Form Actions #}
                    <div class="form-actions d-flex gap-2 justify-content-between pt-3 border-top">
                        <a href="{{ path('app_bc_plan_show', {id: bc_plan.id}) }}" class="btn btn-secondary"><i class="bi bi-x-circle" aria-hidden="true"></i> {{ 'common.cancel'|trans({}, 'messages') }}</a>
                        <button type="submit" class="btn btn-primary btn-lg"><i class="bi bi-save" aria-hidden="true"></i> {{ 'common.save'|trans({}, 'messages') }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
