{% extends 'base.html.twig' %}

{% block title %}New BC Plan{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Create New Business Continuity Plan</h1>
        <a href="{{ path('app_bc_plan_index') }}" class="btn btn-secondary">Back</a>
    </div>

    <div class="card">
        <div class="card-content">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.businessProcess) }}
                {{ form_row(form.description) }}
                {{ form_row(form.planOwner) }}
                {{ form_row(form.bcTeam) }}
                {{ form_row(form.status) }}
                {{ form_row(form.activationCriteria) }}
                {{ form_row(form.rolesAndResponsibilities) }}
                {{ form_row(form.recoveryProcedures) }}
                {{ form_row(form.communicationPlan) }}
                {{ form_row(form.internalCommunication) }}
                {{ form_row(form.externalCommunication) }}
                {{ form_row(form.alternativeSite) }}
                {{ form_row(form.alternativeSiteAddress) }}
                {{ form_row(form.alternativeSiteCapacity) }}
                {{ form_row(form.backupProcedures) }}
                {{ form_row(form.restoreProcedures) }}
                {{ form_row(form.version) }}
                {{ form_row(form.lastTested) }}
                {{ form_row(form.nextTestDate) }}
                {{ form_row(form.lastReviewDate) }}
                {{ form_row(form.nextReviewDate) }}
                {{ form_row(form.reviewNotes) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create BC Plan</button>
                    <a href="{{ path('app_bc_plan_index') }}" class="btn btn-secondary">Cancel</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
