{% extends 'base.html.twig' %}
{% trans_default_domain 'suppliers' %}

{% block title %}{{ 'supplier.page.edit_title'|trans({'%name%': supplier.name}) }}{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.suppliers'|trans({}, 'nav'), url: path('app_supplier_index') },
            { label: supplier.name, url: path('app_supplier_show', {id: supplier.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    <div class="page-header">
        <h1>{{ 'supplier.page.edit_title'|trans({'%name%': supplier.name}) }}</h1>
        <div class="actions">
            <a href="{{ path('app_supplier_show', {id: supplier.id}) }}" class="btn btn-secondary">{{ 'supplier.action.view'|trans }}</a>
            <a href="{{ path('app_supplier_index') }}" class="btn btn-secondary">{{ 'common.back_to_list'|trans({}, 'messages') }}</a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            {{ form_start(form) }}
                <fieldset class="mb-4">
                    <legend class="h5 mb-3">{{ 'supplier.section.details'|trans }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.name,
                                'label': 'supplier.field.name'|trans,
                                'required': true
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.criticality,
                                'label': 'supplier.field.criticality'|trans,
                                'required': true
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.status,
                                'label': 'supplier.field.status'|trans,
                                'required': true
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.description,
                                'label': 'supplier.field.description'|trans
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.serviceProvided,
                                'label': 'supplier.field.service_provided'|trans,
                                'required': true
                            } %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="mb-4">
                    <legend class="h5 mb-3">{{ 'supplier.section.contact_info'|trans }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.contactPerson,
                                'label': 'supplier.field.contact_person'|trans
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.email,
                                'label': 'supplier.field.email'|trans
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.phone,
                                'label': 'supplier.field.phone'|trans
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.address,
                                'label': 'supplier.field.address'|trans
                            } %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="mb-4">
                    <legend class="h5 mb-3">{{ 'supplier.section.security_assessment'|trans }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.securityScore,
                                'label': 'supplier.field.security_score'|trans
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.lastSecurityAssessment,
                                'label': 'supplier.field.last_security_assessment'|trans
                            } %}
                        </div>
                        <div class="col-md-4">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.nextAssessmentDate,
                                'label': 'supplier.field.next_assessment_date'|trans
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.assessmentFindings,
                                'label': 'supplier.field.assessment_findings'|trans
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.nonConformities,
                                'label': 'supplier.field.non_conformities'|trans
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.securityRequirements,
                                'label': 'supplier.field.security_requirements'|trans
                            } %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="mb-4">
                    <legend class="h5 mb-3">{{ 'supplier.section.certifications_compliance'|trans }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                {{ form_widget(form.hasISO27001, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.hasISO27001, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                {{ form_errors(form.hasISO27001) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                {{ form_widget(form.hasISO22301, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.hasISO22301, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                {{ form_errors(form.hasISO22301) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                {{ form_widget(form.hasDPA, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.hasDPA, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                {{ form_errors(form.hasDPA) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.dpaSignedDate,
                                'label': 'supplier.field.dpa_signed_date'|trans
                            } %}
                        </div>
                        <div class="col-md-6">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.certifications,
                                'label': 'supplier.field.certifications'|trans
                            } %}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="mb-4">
                    <legend class="h5 mb-3">{{ 'supplier.section.contract_info'|trans }}</legend>
                    <div class="row">
                        <div class="col-md-6">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.contractStartDate,
                                'label': 'supplier.field.contract_start_date'|trans
                            } %}
                        </div>
                        <div class="col-md-6">
                            {% include '_components/_form_field.html.twig' with {
                                'field': form.contractEndDate,
                                'label': 'supplier.field.contract_end_date'|trans
                            } %}
                        </div>
                    </div>
                </fieldset>

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_supplier_show', {id: supplier.id}) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans({}, 'messages') }}
                    </a>
                    <button type="submit" class="btn btn-primary">
                        {{ 'supplier.action.update'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
