{% extends 'base.html.twig' %}
{% trans_default_domain 'locations' %}

{% block title %}{{ 'location.title.edit'|trans }} - {{ location.name }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.locations'|trans({}, 'nav'), url: path('app_location_index') },
            { label: location.name, url: path('app_location_show', {id: location.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}
</div>

<div class="page-header">
    <div>
        <h1>{{ 'location.title.edit'|trans }}: {{ location.name }}</h1>
    </div>
    <div class="button-group">
        <a href="{{ path('app_location_show', {id: location.id}) }}" class="btn btn-secondary">
            ← {{ 'common.back'|trans({}, 'messages') }}
        </a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        {{ form_start(form) }}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'location.section.basic_info'|trans }}</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.locationType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.code) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'location.section.address'|trans }}</legend>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.address) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.postalCode) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.country) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'location.section.hierarchy'|trans }}</legend>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.parentLocation) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'location.section.security'|trans }}</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.securityLevel) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-check mt-4">
                            {{ form_widget(form.requiresBadgeAccess, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(form.requiresBadgeAccess, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                        {{ form_errors(form.requiresBadgeAccess) }}
                    </div>
                </div>
                {% if form.accessControlSystem is defined %}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.accessControlSystem) }}
                    </div>
                </div>
                {% endif %}
                {% if form.active is defined %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-check">
                            {{ form_widget(form.active, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(form.active, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                        {{ form_errors(form.active) }}
                    </div>
                </div>
                {% endif %}
            </fieldset>

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_location_show', {id: location.id}) }}" class="btn btn-secondary">
                    {{ 'common.cancel'|trans({}, 'messages') }}
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ 'common.save'|trans({}, 'messages') }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
