{% trans_default_domain 'certification_bundle' %}
{% extends 'pdf/_base_document.html.twig' %}

{% block document_type %}{{ 'certification_bundle.pdf.asset_register.title'|trans({}, 'certification_bundle') }}{% endblock %}
{% block document_id %}DOC-CERT-ASR{% endblock %}
{% block document_title %}{{ 'certification_bundle.pdf.asset_register.title'|trans({}, 'certification_bundle') }}{% endblock %}
{% block document_version %}{{ version }}{% endblock %}
{% block document_status_class %}approved{% endblock %}
{% block document_status %}GENERATED{% endblock %}
{% block classification_class %}confidential{% endblock %}
{% block document_classification %}{{ 'certification_bundle.pdf.confidential'|trans({}, 'certification_bundle') }}{% endblock %}
{% block organization_name %}{{ tenant_name }}{% endblock %}
{% block header_left %}{{ tenant_name }}{% endblock %}
{% block header_center %}{{ 'certification_bundle.pdf.asset_register.title'|trans({}, 'certification_bundle') }}{% endblock %}
{% block header_right %}{{ 'certification_bundle.pdf.confidential'|trans({}, 'certification_bundle') }}{% endblock %}
{% block footer_left %}DOC-CERT-ASR | Version {{ version }}{% endblock %}
{% block footer_center %}{{ tenant_name }}{% endblock %}
{% block footer_version %}{{ version }}{% endblock %}
{% block created_date %}{{ generated_at|date('d.m.Y') }}{% endblock %}
{% block modified_date %}{{ generated_at|date('d.m.Y H:i') }}{% endblock %}

{% block document_content %}
<h1>{{ 'certification_bundle.pdf.asset_register.title'|trans({}, 'certification_bundle') }}</h1>
<p class="text-muted">{{ 'certification_bundle.pdf.generated'|trans({}, 'certification_bundle') }}: {{ generated_at|date('d.m.Y H:i') }} | {{ 'certification_bundle.pdf.organization'|trans({}, 'certification_bundle') }}: {{ tenant_name }}</p>
<p>{{ 'certification_bundle.pdf.asset_register.total_assets'|trans({}, 'certification_bundle') }}: <strong>{{ assets|length }}</strong></p>

{% if assets|length == 0 %}
    <p class="text-muted">{{ 'certification_bundle.pdf.asset_register.no_assets'|trans({}, 'certification_bundle') }}</p>
{% else %}
<table>
    <thead>
        <tr>
            <th scope="col" style="width: 5%;">{{ 'certification_bundle.pdf.asset_register.col.id'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 20%;">{{ 'certification_bundle.pdf.asset_register.col.name'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 12%;">{{ 'certification_bundle.pdf.asset_register.col.type'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 5%;">{{ 'certification_bundle.pdf.asset_register.col.c'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 5%;">{{ 'certification_bundle.pdf.asset_register.col.i'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 5%;">{{ 'certification_bundle.pdf.asset_register.col.a'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 12%;">{{ 'certification_bundle.pdf.asset_register.col.classification'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 13%;">{{ 'certification_bundle.pdf.asset_register.col.owner'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 13%;">{{ 'certification_bundle.pdf.asset_register.col.location'|trans({}, 'certification_bundle') }}</th>
            <th scope="col" style="width: 8%;">{{ 'certification_bundle.pdf.asset_register.col.status'|trans({}, 'certification_bundle') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.assetType ?? '-' }}</td>
            <td class="text-center">{{ asset.confidentialityValue ?? '-' }}</td>
            <td class="text-center">{{ asset.integrityValue ?? '-' }}</td>
            <td class="text-center">{{ asset.availabilityValue ?? '-' }}</td>
            <td>{{ asset.dataClassification ?? '-' }}</td>
            <td>{{ asset.effectiveOwner ?? '-' }}</td>
            <td>{{ asset.location ?? '-' }}</td>
            <td>{{ asset.status ?? '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div style="margin-top: 20pt; font-size: 8pt; color: #64748b;">
    <p><strong>{{ 'certification_bundle.pdf.asset_register.legend'|trans({}, 'certification_bundle') }}:</strong> {{ 'certification_bundle.pdf.asset_register.legend_text'|trans({}, 'certification_bundle') }}</p>
</div>
{% endif %}
{% endblock %}
