{% extends 'base.html.twig' %}
{% trans_default_domain 'business_process' %}

{% block title %}{{ 'business_process.edit'|trans({}, 'business_process')}}: {{ business_process.name }}{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.bcm'|trans({}, 'nav'), url: path('app_business_process_index') },
            { label: business_process.name, url: path('app_business_process_show', {id: business_process.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    <div class="page-header">
        <h1>{{ 'business_process.edit'|trans({}, 'business_process')}}: {{ business_process.name }}</h1>
        <a href="{{ path('app_business_process_show', {id: business_process.id}) }}" class="btn btn-secondary">{{ 'common.back'|trans({}, 'messages') }}</a>
    </div>

    {% embed '_components/_card.html.twig' %}
        {% block card_body %}
            {{ form_start(form) }}
                {% include '_components/_auto_form.html.twig' with {
                    'form': form,
                    'sections': {
                        'basic_info': {
                            'label': 'business_process.section.basic_info'|trans({}, 'business_process'),
                            'fields': ['name', 'processOwner', 'description', 'criticality']
                        },
                        'recovery_objectives': {
                            'label': 'business_process.section.recovery_objectives'|trans({}, 'business_process'),
                            'fields': ['rto', 'rpo', 'mtpd']
                        },
                        'financial_impact': {
                            'label': 'business_process.section.financial_impact'|trans({}, 'business_process'),
                            'fields': ['financialImpactPerHour', 'financialImpactPerDay']
                        },
                        'impact_assessment': {
                            'label': 'business_process.section.impact_assessment'|trans({}, 'business_process'),
                            'fields': ['reputationalImpact', 'regulatoryImpact', 'operationalImpact']
                        },
                        'dependencies': {
                            'label': 'business_process.section.dependencies'|trans({}, 'business_process'),
                            'fields': ['dependenciesUpstream', 'dependenciesDownstream']
                        },
                        'recovery': {
                            'label': 'business_process.section.recovery'|trans({}, 'business_process'),
                            'fields': ['recoveryStrategy']
                        },
                        'supporting_resources': {
                            'label': 'business_process.section.supporting_resources'|trans({}, 'business_process'),
                            'fields': ['supportingAssets', 'identifiedRisks']
                        }
                    },
                    'col_widths': {
                        'name': 6,
                        'processOwner': 6,
                        'description': 6,
                        'criticality': 6,
                        'rto': 4,
                        'rpo': 4,
                        'mtpd': 4,
                        'financialImpactPerHour': 6,
                        'financialImpactPerDay': 6,
                        'reputationalImpact': 4,
                        'regulatoryImpact': 4,
                        'operationalImpact': 4,
                        'dependenciesUpstream': 6,
                        'dependenciesDownstream': 6,
                        'recoveryStrategy': 12,
                        'supportingAssets': 6,
                        'identifiedRisks': 6
                    },
                    'tooltips': {
                        'criticality': 'business_process.tooltip.criticality',
                        'rto': 'business_process.tooltip.rto',
                        'rpo': 'business_process.tooltip.rpo',
                        'mtpd': 'business_process.tooltip.mtpd',
                        'reputationalImpact': 'business_process.tooltip.reputational_impact',
                        'regulatoryImpact': 'business_process.tooltip.regulatory_impact',
                        'operationalImpact': 'business_process.tooltip.operational_impact'
                    },
                    'translation_domain': 'business_process'
                } %}

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_business_process_show', {id: business_process.id}) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans({}, 'messages') }}
                    </a>
                    <button type="submit" class="btn btn-primary">
                        {{ 'common.save_changes'|trans({}, 'messages') }}
                    </button>
                </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
