{% extends 'base.html.twig' %}
{% trans_default_domain 'business_process' %}

{% block title %}{{ 'business_process.edit'|trans }}: {{ business_process.name }}{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.bcm'|trans({}, 'nav'), url: path('app_business_process_index') },
            { label: business_process.name, url: path('app_business_process_show', {id: business_process.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    <div class="page-header">
        <h1>{{ 'business_process.edit'|trans }}: {{ business_process.name }}</h1>
        <a href="{{ path('app_business_process_show', {id: business_process.id}) }}" class="btn btn-secondary">{{ 'common.back'|trans({}, 'messages') }}</a>
    </div>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {% include '_components/_auto_form.html.twig' with {
                    'form': form,
                    'sections': {
                        'basic_info': {
                            'label': 'business_process.section.basic_info'|trans,
                            'fields': ['name', 'processOwner', 'description', 'criticality']
                        },
                        'recovery_objectives': {
                            'label': 'business_process.section.recovery_objectives'|trans,
                            'fields': ['rto', 'rpo', 'mtpd']
                        },
                        'financial_impact': {
                            'label': 'business_process.section.financial_impact'|trans,
                            'fields': ['financialImpactPerHour', 'financialImpactPerDay']
                        },
                        'impact_assessment': {
                            'label': 'business_process.section.impact_assessment'|trans,
                            'fields': ['reputationalImpact', 'regulatoryImpact', 'operationalImpact']
                        },
                        'dependencies': {
                            'label': 'business_process.section.dependencies'|trans,
                            'fields': ['dependenciesUpstream', 'dependenciesDownstream']
                        },
                        'recovery': {
                            'label': 'business_process.section.recovery'|trans,
                            'fields': ['recoveryStrategy']
                        },
                        'supporting_resources': {
                            'label': 'business_process.section.supporting_resources'|trans,
                            'fields': ['supportingAssets', 'identifiedRisks']
                        }
                    },
                    'col_widths': {
                        'name': 6,
                        'processOwner': 6,
                        'description': 6,
                        'criticality': 6,
                        'rto': 4,
                        'rpo': 4,
                        'mtpd': 4,
                        'financialImpactPerHour': 6,
                        'financialImpactPerDay': 6,
                        'reputationalImpact': 4,
                        'regulatoryImpact': 4,
                        'operationalImpact': 4,
                        'dependenciesUpstream': 6,
                        'dependenciesDownstream': 6,
                        'recoveryStrategy': 12,
                        'supportingAssets': 6,
                        'identifiedRisks': 6
                    },
                    'help_texts': {
                        'name': 'business_process.help.name'|trans,
                        'processOwner': 'business_process.help.process_owner'|trans,
                        'description': 'business_process.help.description'|trans,
                        'criticality': 'business_process.help.criticality'|trans,
                        'rto': 'business_process.help.rto'|trans,
                        'rpo': 'business_process.help.rpo'|trans,
                        'mtpd': 'business_process.help.mtpd'|trans,
                        'financialImpactPerHour': 'business_process.help.financial_impact_per_hour'|trans,
                        'financialImpactPerDay': 'business_process.help.financial_impact_per_day'|trans,
                        'reputationalImpact': 'business_process.help.reputational_impact'|trans,
                        'regulatoryImpact': 'business_process.help.regulatory_impact'|trans,
                        'operationalImpact': 'business_process.help.operational_impact'|trans,
                        'dependenciesUpstream': 'business_process.help.dependencies_upstream'|trans,
                        'dependenciesDownstream': 'business_process.help.dependencies_downstream'|trans,
                        'recoveryStrategy': 'business_process.help.recovery_strategy'|trans,
                        'supportingAssets': 'business_process.help.supporting_assets'|trans,
                        'identifiedRisks': 'business_process.help.identified_risks'|trans
                    }
                } %}

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_business_process_show', {id: business_process.id}) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans({}, 'messages') }}
                    </a>
                    <button type="submit" class="btn btn-primary">
                        {{ 'common.save_changes'|trans({}, 'messages') }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
