{% extends 'base.html.twig' %}

{% block title %}{{ business_process.name }} bearbeiten{% endblock %}

{% block body %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_business_process_index') }}">BCM</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_business_process_show', {'id': business_process.id}) }}">{{ business_process.name }}</a></li>
            <li class="breadcrumb-item active">Bearbeiten</li>
        </ol>
    </nav>

    <h1>{{ business_process.name }} bearbeiten</h1>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {% include 'business_process/_form.html.twig' %}
                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_business_process_show', {'id': business_process.id}) }}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Änderungen speichern
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
