{% extends 'base.html.twig' %}
{% trans_default_domain 'bc_exercises' %}

{% block title %}{{ 'bc_exercises.action.edit'|trans({}, 'bc_exercises') }}: {{ bc_exercise.name }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {# Breadcrumb Navigation #}
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.bcm'|trans({}, 'nav', 'nav'), url: path('app_bc_exercise_index'), icon: 'bi-shield-exclamation' },
            { label: 'bc_exercises.page.title'|trans({}, 'bc_exercises'), url: path('app_bc_exercise_index') },
            { label: bc_exercise.name, url: path('app_bc_exercise_show', {id: bc_exercise.id}) },
            { label: 'common.edit'|trans({}, 'messages') }
        ]
    } %}

    {# Page Header #}
    {% include '_components/_page_header.html.twig' with {
        title: ('bc_exercises.action.edit'|trans({}, 'bc_exercises')) ~ ': ' ~ bc_exercise.name,
        icon: 'bi-pencil',
        actions: [
            { label: 'common.view'|trans({}, 'messages'), url: path('app_bc_exercise_show', {id: bc_exercise.id}), variant: 'outline-primary', icon: 'bi-eye' },
            { label: 'common.back'|trans({}, 'messages'), url: path('app_bc_exercise_index'), variant: 'secondary', icon: 'bi-arrow-left' }
        ]
    } %}

    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {# Basic Information Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-info-square" aria-hidden="true"></i>
                            {{ 'bc_exercises.section.details'|trans({}, 'bc_exercises') }}
                        </legend>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.name,
                            'label': 'bc_exercises.table.name'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.details'|trans({}, 'bc_exercises'),
                            'required': true
                        } %}

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.exerciseType,
                                    'label': 'bc_exercises.table.type'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.section.scenario'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.status,
                                    'label': 'bc_exercises.table.status'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.table.status'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                        </div>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.description,
                            'label': 'bc_exercises.section.details'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.details'|trans({}, 'bc_exercises')
                        } %}

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.scope,
                            'label': 'bc_exercises.section.scope_objectives'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.scope_objectives'|trans({}, 'bc_exercises')
                        } %}
                    </fieldset>

                    {# Planning Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-calendar-event" aria-hidden="true"></i>
                            {{ 'bc_exercises.section.scenario'|trans({}, 'bc_exercises') }}
                        </legend>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.objectives,
                            'label': 'bc_exercises.section.scope_objectives'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.scope_objectives'|trans({}, 'bc_exercises')
                        } %}

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.scenario,
                            'label': 'bc_exercises.section.scenario'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.scenario'|trans({}, 'bc_exercises')
                        } %}

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.exerciseDate,
                                    'label': 'bc_exercises.field.exercise_date'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.exercise_date'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.durationHours,
                                    'label': 'bc_exercises.field.duration_hours'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.duration_hours'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    {# Participants Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-people" aria-hidden="true"></i>
                            {{ 'bc_exercises.section.participants'|trans({}, 'bc_exercises') }}
                        </legend>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.participants,
                            'label': 'bc_exercises.field.participants'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.participants'|trans({}, 'bc_exercises')
                        } %}

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.facilitator,
                                    'label': 'bc_exercises.field.facilitator'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.facilitator'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.observers,
                                    'label': 'bc_exercises.field.observers'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.observers'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    {# Results Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-clipboard-check" aria-hidden="true"></i>
                            {{ 'bc_exercises.section.results'|trans({}, 'bc_exercises') }}
                        </legend>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.results,
                            'label': 'bc_exercises.section.results'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.results'|trans({}, 'bc_exercises')
                        } %}

                        <div class="row">
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.whatWentWell,
                                    'label': 'bc_exercises.section.what_went_well'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.section.what_went_well'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.areasForImprovement,
                                    'label': 'bc_exercises.section.improvements'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.section.improvements'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                        </div>

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.findings,
                            'label': 'bc_exercises.section.findings'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.findings'|trans({}, 'bc_exercises')
                        } %}

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.actionItems,
                            'label': 'bc_exercises.section.action_items'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.action_items'|trans({}, 'bc_exercises')
                        } %}

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.lessonsLearned,
                            'label': 'bc_exercises.section.lessons_learned'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.lessons_learned'|trans({}, 'bc_exercises')
                        } %}

                        {% include '_components/_form_field.html.twig' with {
                            'field': form.planUpdatesRequired,
                            'label': 'bc_exercises.section.plan_updates_required'|trans({}, 'bc_exercises'),
                            'help': 'bc_exercises.section.plan_updates_required'|trans({}, 'bc_exercises')
                        } %}
                    </fieldset>

                    {# Report Section #}
                    <fieldset class="mb-4">
                        <legend class="h5 mb-3">
                            <i class="bi bi-file-earmark-text" aria-hidden="true"></i>
                            {{ 'bc_exercises.section.results'|trans({}, 'bc_exercises') }}
                        </legend>

                        <div class="row">
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.successRating,
                                    'label': 'bc_exercises.field.success_rating'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.success_rating'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.reportCompleted,
                                    'label': 'bc_exercises.field.report_completed'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.report_completed'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                            <div class="col-md-4">
                                {% include '_components/_form_field.html.twig' with {
                                    'field': form.reportDate,
                                    'label': 'bc_exercises.field.report_date'|trans({}, 'bc_exercises'),
                                    'help': 'bc_exercises.field.report_date'|trans({}, 'bc_exercises')
                                } %}
                            </div>
                        </div>
                    </fieldset>

                    {# Form Actions #}
                    <div class="form-actions d-flex gap-2 justify-content-between pt-3 border-top">
                        <a href="{{ path('app_bc_exercise_show', {id: bc_exercise.id}) }}" class="btn btn-secondary">
                            <i class="bi bi-x-circle" aria-hidden="true"></i>
                            {{ 'common.cancel'|trans({}, 'messages') }}
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-save" aria-hidden="true"></i>
                            {{ 'common.save'|trans({}, 'messages') }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
