{% extends 'base.html.twig' %}

{% block title %}Edit {{ bc_exercise.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Edit Exercise: {{ bc_exercise.name }}</h1>
        <div class="actions">
            <a href="{{ path('app_bc_exercise_show', {id: bc_exercise.id}) }}" class="btn btn-secondary">View</a>
            <a href="{{ path('app_bc_exercise_index') }}" class="btn btn-secondary">Back</a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.exerciseType) }}
                {{ form_row(form.description) }}
                {{ form_row(form.scope) }}
                {{ form_row(form.objectives) }}
                {{ form_row(form.scenario) }}
                {{ form_row(form.exerciseDate) }}
                {{ form_row(form.durationHours) }}
                {{ form_row(form.participants) }}
                {{ form_row(form.facilitator) }}
                {{ form_row(form.observers) }}
                {{ form_row(form.status) }}
                {{ form_row(form.results) }}
                {{ form_row(form.whatWentWell) }}
                {{ form_row(form.areasForImprovement) }}
                {{ form_row(form.findings) }}
                {{ form_row(form.actionItems) }}
                {{ form_row(form.lessonsLearned) }}
                {{ form_row(form.planUpdatesRequired) }}
                {{ form_row(form.successRating) }}
                {{ form_row(form.reportCompleted) }}
                {{ form_row(form.reportDate) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Update Exercise</button>
                    <a href="{{ path('app_bc_exercise_show', {id: bc_exercise.id}) }}" class="btn btn-secondary">Cancel</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
