{% extends 'base.html.twig' %}
{% trans_default_domain 'risk_treatment_plan' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'risk_treatment_plan.new'|trans({}, 'risk_treatment_plan') }} - {{ 'app.title'|trans({}, 'messages') }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.risk_treatment_plans'|trans({}, 'nav'), url: path('app_risk_treatment_plan_index') },
            { label: 'risk_treatment_plan.new'|trans({}, 'risk_treatment_plan') }
        ]
    } %}

    {{ _fa_page_header.render({
        title: 'risk_treatment_plan.new'|trans({}, 'risk_treatment_plan'),
        badge: { icon: 'plus', label: '' },
        actions: [
            { label: 'common.back'|trans({}, 'messages'), href: path('app_risk_treatment_plan_index'), variant: 'ghost', icon: 'util-arrow-left' }
        ]
    }) }}

    {{ form_start(form) }}
    {% include 'risk_treatment_plan/_form_body.html.twig' with {
        form: form,
        modal: false,
        title: 'risk_treatment_plan.new'|trans({}, 'risk_treatment_plan'),
        actions: {
            'close': { 'label': 'common.cancel'|trans({}, 'messages'), 'variant': 'ghost' },
            'submit': { 'label': 'common.create'|trans({}, 'messages'), 'variant': 'primary' }
        }
    } %}
    {{ form_end(form) }}
</div>
{% endblock %}
