{% extends 'base.html.twig' %}
{% trans_default_domain 'crisis_team' %}
{% block title %}{{ crisis_team.teamName }} - {{ 'app.title'|trans({}, 'messages') }}{% endblock %}
{% block body %}
<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>{{ crisis_team.teamName }}</h1>
        <div>
            <a href="{{ path('app_crisis_team_edit', {id: crisis_team.id}) }}" class="btn btn-primary">{{ 'common.edit'|trans({}, 'messages') }}</a>
            <a href="{{ path('app_crisis_team_index') }}" class="btn btn-outline-secondary">{{ 'common.back'|trans({}, 'messages') }}</a>
        </div>
    </div>
    <div class="card"><div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">{{ 'crisis_team.field.team_type'|trans({}, 'messages') }}</dt><dd class="col-sm-9"><span class="badge bg-primary">{{ ('crisis_team.type.' ~ crisis_team.teamType)|trans }}</span></dd>
            <dt class="col-sm-3">{{ 'crisis_team.field.is_active'|trans({}, 'messages') }}</dt><dd class="col-sm-9"><span class="badge bg-{{ crisis_team.isActive ? 'success' : 'danger' }}">{{ crisis_team.isActive ? 'yes'|trans({}, 'messages') : 'no'|trans({}, 'messages') }}</span></dd>
            {% if crisis_team.teamLeader %}<dt class="col-sm-3">{{ 'crisis_team.field.team_leader'|trans({}, 'messages') }}</dt><dd class="col-sm-9">{{ crisis_team.teamLeader.email }}</dd>{% endif %}
            {% if crisis_team.description %}<dt class="col-sm-3">{{ 'crisis_team.field.description'|trans({}, 'messages') }}</dt><dd class="col-sm-9">{{ crisis_team.description|nl2br }}</dd>{% endif %}
        </dl>
    </div></div>
</div>
{% endblock %}
