{% extends 'base.html.twig' %}
{% trans_default_domain 'people' %}

{% block title %}{{ 'person.title.create'|trans({}, 'messages') }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.people'|trans({}, 'nav'), url: path('app_person_index') },
            { label: 'person.title.create'|trans({}, 'messages') }
        ]
    } %}
</div>

<div class="page-header">
    <div>
        <h1>{{ 'person.title.create'|trans({}, 'messages') }}</h1>
    </div>
    <div class="button-group">
        <a href="{{ path('app_person_index') }}" class="btn btn-secondary">
            ← {{ 'common.back_to_list'|trans({}, 'messages') }}
        </a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        {{ form_start(form) }}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'person.section.basic_info'|trans({}, 'messages') }}</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.fullName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.personType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.badgeId) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'person.section.organization'|trans({}, 'messages') }}</legend>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.company) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.department) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.jobTitle) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'person.section.contact'|trans({}, 'messages') }}</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
            </fieldset>

            {% if form.notes is defined %}
            <fieldset class="mb-4">
                <legend class="h5 mb-3">{{ 'person.section.additional'|trans({}, 'messages') }}</legend>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.notes) }}
                    </div>
                </div>
            </fieldset>
            {% endif %}

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_person_index') }}" class="btn btn-secondary">
                    {{ 'common.cancel'|trans({}, 'messages') }}
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ 'common.create'|trans({}, 'messages') }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
