{# Activity Feed Component
   Usage:
   {% include '_components/_activity_feed.html.twig' with {
       activities: [
           {
               icon: 'bi-server',
               color: 'primary',
               title: 'Asset added',
               description: 'Web Server added to inventory',
               time: '2 minutes',
               user: 'John Doe'
           }
       ]
   } %}
#}

{% import '_components/_fa_empty_state.html.twig' as _fa_empty_state %}

<div class="activity-feed">
    {% if activities is defined and activities|length > 0 %}
        {% for activity in activities %}
        <div class="activity-item">
            <div class="activity-icon icon-{{ activity.color|default('primary') }}">
                <i class="{{ activity.icon|default('bi-circle') }}"></i>
            </div>
            <div class="activity-content">
                <div class="activity-title">{{ activity.title }}</div>
                <div class="activity-description">{{ activity.description }}</div>
                <div class="activity-meta">
                    {% if activity.time is defined %}
                    <span class="activity-time">
                        <i class="fa-icon fa-icon--ui-clock" aria-hidden="true"></i> {{ activity.time }}
                    </span>
                    {% endif %}
                    {% if activity.user is defined %}
                    <span class="activity-user">
                        <i class="fa-icon fa-icon--ui-person" aria-hidden="true"></i> {{ activity.user }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {{ _fa_empty_state.render({
            mood: 'sleeping',
            title: 'common.no_activities'|trans({}, 'messages')
        }) }}
    {% endif %}
</div>
