<div class="fairy-helper-container {{ class|default('') }}"
     {% if id is defined %}id="{{ id }}"{% endif %}
     title="{{ tooltip|default('Little ISMS Helper ist hier, um zu helfen!') }}"
     data-bs-toggle="tooltip"
     data-bs-placement="{{ placement|default('top') }}">
    <img src="{{ asset('logo.svg') }}"
         alt="Alva"
         class="fairy-helper-svg {{ size|default('md') }} {% if working|default(false) %}is-working{% endif %}"
         style="{% if width is defined %}width: {{ width }};{% endif %} {% if height is defined %}height: {{ height }};{% endif %}">
</div>
