{% extends 'base.html.twig' %}
{% trans_default_domain 'planning' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'planning.person.title.edit'|trans({}, 'planning') }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.planning'|trans({}, 'nav'), url: path('app_planning_admin') },
            { label: 'planning.person.title.edit'|trans({}, 'planning') }
        ]
    } %}

    {{ _fa_page_header.render({
        title: person.fullName,
        badge: { icon: 'person-badge', label: 'planning.tab.persons'|trans({}, 'planning') },
        actions: [
            { label: 'common.back_to_list'|trans({}, 'messages'), href: path('app_planning_admin'), variant: 'ghost', icon: 'util-arrow-left' }
        ]
    }) }}

    {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                {{ form_row(form.ismsAvailabilityPct) }}
                {{ form_row(form.teams) }}
            </div>
            <div class="card-footer d-flex justify-content-end gap-2">
                <a class="btn btn-ghost" href="{{ path('app_planning_admin') }}">{{ 'common.cancel'|trans({}, 'messages') }}</a>
                {{ form_widget(form.save, { attr: { class: 'btn btn-primary' } }) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
