{% extends 'base.html.twig' %}

{% block title %}{{ 'incident_sla.edit.title'|trans({'%severity%': ('incident_sla.severity.' ~ config.severity)|trans({}, 'incident_sla')}, 'incident_sla') }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <h1>
                <i class="bi bi-stopwatch" aria-hidden="true"></i>
                {{ 'incident_sla.edit.title'|trans({'%severity%': ('incident_sla.severity.' ~ config.severity)|trans({}, 'incident_sla')}, 'incident_sla') }}
            </h1>
            <p class="lead">
                <a href="{{ path('app_admin_incident_sla_config') }}" class="text-decoration-none">
                    <i class="bi bi-arrow-left" aria-hidden="true"></i> {{ 'incident_sla.back_to_list'|trans({}, 'incident_sla') }}
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {% embed '_components/_card.html.twig' %}
                {% block card_header %}
                    <div class="card-header">
                        <h3 class="h5 mb-0">
                            <i class="bi bi-gear" aria-hidden="true"></i>
                            {{ 'incident_sla.section.edit'|trans({}, 'incident_sla') }}
                        </h3>
                    </div>
                {% endblock %}
                {% block card_body %}
                    {{ form_start(form) }}
                        <div class="mb-3">{{ form_row(form.responseHours, { attr: { class: 'form-control' } }) }}</div>
                        <div class="mb-3">{{ form_row(form.escalationHours, { attr: { class: 'form-control' } }) }}</div>
                        <div class="mb-3">{{ form_row(form.resolutionHours, { attr: { class: 'form-control' } }) }}</div>
                        <div class="mb-3">{{ form_row(form.note, { attr: { class: 'form-control' } }) }}</div>
                        <div class="d-flex gap-2">
                            <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary">
                                <i class="bi bi-save" aria-hidden="true"></i>
                                {{ 'common.save'|trans({}, 'messages') }}
                            </button>
                            <a href="{{ path('app_admin_incident_sla_config') }}" class="fa-cyber-btn fa-cyber-btn--ghost">
                                {{ 'common.cancel'|trans({}, 'messages') }}
                            </a>
                        </div>
                    {{ form_end(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>
{% endblock %}
