{% extends 'setup/_layout.html.twig' %}
{% trans_default_domain 'setup' %}
{% set active_step = 'admin' %}

{% block title %}{{ 'setup.admin.title'|trans({}, 'setup') }}{% endblock %}

{% block step_content %}
    {% import '_components/_step_header.html.twig' as step_header %}
    {% import '_components/_alert.html.twig' as faAlert %}
    {% import '_components/_nav_bar.html.twig' as nav %}
    {% import '_components/_cyber_button.html.twig' as btn %}

    {% for label, messages in app.flashes %}
        {% set tone = label == 'success' ? 'success' : (label in ['error','danger'] ? 'danger' : (label == 'warning' ? 'warning' : 'info')) %}
        {% for message in messages %}
            {{ faAlert.render(message|raw, tone, { dismissible: true })|raw }}
        {% endfor %}
    {% endfor %}

    {{ step_header.render(5, 12, step.kind, 'setup.admin.header'|trans({}, 'setup'), 'setup.admin.description'|trans({}, 'setup'))|raw }}

    {{ form_start(form, {'attr': {'class': 'fa-setup-form', 'novalidate': 'novalidate', 'data-turbo': 'false', 'data-controller': 'wizard-busy', 'data-wizard-busy-message-value': 'setup.alva.busy.admin'|trans({}, 'setup')}}) }}

    <div class="fa-setup-form__grid">
        <div class="fa-setup-form__col">
            {{ form_label(form.firstName, 'setup.admin.first_name'|trans({}, 'setup'), {'label_attr': {'class': 'fa-cyber-input__label'}}) }}
            <div class="fa-cyber-input__frame">
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tr"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--bl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--br"></span>
                {{ form_widget(form.firstName, {'attr': {'class': 'fa-cyber-input__field', 'required': 'required', 'placeholder': 'setup.admin.first_name_placeholder'|trans({}, 'setup')}}) }}
            </div>
            {{ form_errors(form.firstName) }}
        </div>
        <div class="fa-setup-form__col">
            {{ form_label(form.lastName, 'setup.admin.last_name'|trans({}, 'setup'), {'label_attr': {'class': 'fa-cyber-input__label'}}) }}
            <div class="fa-cyber-input__frame">
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tr"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--bl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--br"></span>
                {{ form_widget(form.lastName, {'attr': {'class': 'fa-cyber-input__field', 'required': 'required', 'placeholder': 'setup.admin.last_name_placeholder'|trans({}, 'setup')}}) }}
            </div>
            {{ form_errors(form.lastName) }}
        </div>
    </div>

    <div class="fa-cyber-input">
        {{ form_label(form.email, 'setup.admin.email'|trans({}, 'setup'), {'label_attr': {'class': 'fa-cyber-input__label'}}) }}
        <div class="fa-cyber-input__frame">
            <span class="fa-cyber-input__tick fa-cyber-input__tick--tl"></span>
            <span class="fa-cyber-input__tick fa-cyber-input__tick--tr"></span>
            <span class="fa-cyber-input__tick fa-cyber-input__tick--bl"></span>
            <span class="fa-cyber-input__tick fa-cyber-input__tick--br"></span>
            {{ form_widget(form.email, {'attr': {'class': 'fa-cyber-input__field', 'required': 'required'}}) }}
        </div>
        <div class="fa-cyber-input__hint">{{ 'setup.admin.email_help'|trans({}, 'setup') }}</div>
        {{ form_errors(form.email) }}
    </div>

    <div class="fa-setup-form__grid">
        <div class="fa-setup-form__col">
            {{ form_label(form.password.first, 'setup.admin.password'|trans({}, 'setup'), {'label_attr': {'class': 'fa-cyber-input__label'}}) }}
            <div class="fa-cyber-input__frame">
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tr"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--bl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--br"></span>
                {{ form_widget(form.password.first, {'attr': {'class': 'fa-cyber-input__field', 'required': 'required', 'type': 'password'}}) }}
            </div>
            <div class="fa-cyber-input__hint">{{ 'setup.admin.password_help'|trans({}, 'setup') }}</div>
            {{ form_errors(form.password.first) }}
        </div>
        <div class="fa-setup-form__col">
            {{ form_label(form.password.second, 'setup.admin.password_confirm'|trans({}, 'setup'), {'label_attr': {'class': 'fa-cyber-input__label'}}) }}
            <div class="fa-cyber-input__frame">
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--tr"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--bl"></span>
                <span class="fa-cyber-input__tick fa-cyber-input__tick--br"></span>
                {{ form_widget(form.password.second, {'attr': {'class': 'fa-cyber-input__field', 'required': 'required', 'type': 'password'}}) }}
            </div>
            {{ form_errors(form.password.second) }}
        </div>
    </div>

    {# Password Requirements Info als Aurora-Alert #}
    {% set pwReqs %}
        <ul style="margin:6px 0 0; padding-left:20px;">
            <li>{{ 'setup.admin.password_requirements.length'|trans({}, 'setup') }}</li>
            <li>{{ 'setup.admin.password_requirements.uppercase'|trans({}, 'setup') }}</li>
            <li>{{ 'setup.admin.password_requirements.lowercase'|trans({}, 'setup') }}</li>
            <li>{{ 'setup.admin.password_requirements.number'|trans({}, 'setup') }}</li>
        </ul>
    {% endset %}
    {{ faAlert.render(pwReqs, 'info', { title: 'setup.admin.password_requirements.title'|trans({}, 'setup'), icon: 'bi-shield-lock' })|raw }}

    {{ faAlert.render(
        'setup.admin.security_note.message'|trans({}, 'setup'),
        'warning',
        { title: 'setup.admin.security_note.title'|trans({}, 'setup'), withAlva: true }
    )|raw }}

    <div class="fa-nav-bar">
        <div class="fa-nav-bar__left">
            {{ btn.link(path('setup_step3_restore_backup'), 'setup.navigation.back'|trans({}, 'setup'), { variant: 'secondary', icon: 'bi-arrow-left' }) }}
        </div>
        <div class="fa-nav-bar__right">
            {{ btn.submit('setup.navigation.next'|trans({}, 'setup'), { variant: 'primary', icon: 'bi-arrow-right', iconAfter: true }) }}
        </div>
    </div>

    {{ form_end(form) }}

    {{ faAlert.render(
        'setup.admin.next_steps.description'|trans({}, 'setup'),
        'info',
        { title: 'setup.admin.next_steps.title'|trans({}, 'setup'), icon: 'bi-info-circle' }
    )|raw }}
{% endblock %}
