{% extends 'base.html.twig' %}

{% block title %}{{ 'tags.admin.new.title'|trans({}, 'tags') }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-4">{{ 'tags.admin.new.title'|trans({}, 'tags') }}</h1>

    {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                {{ form_row(form.frameworkCode) }}
                {{ form_row(form.color) }}
                {{ form_row(form.description) }}
            </div>
            <div class="card-footer d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check2" aria-hidden="true"></i>
                    {{ 'tags.admin.action.save'|trans({}, 'tags') }}
                </button>
                <a href="{{ path('admin_tag_index') }}" class="btn btn-outline-secondary">
                    {{ 'tags.admin.action.cancel'|trans({}, 'tags') }}
                </a>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
