{% extends 'base.html.twig' %}

{% block title %}{{ 'tags.admin.new.title'|trans({}, 'tags') }}{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'admin.title'|trans({}, 'admin'), url: path('admin_dashboard') },
            { label: 'admin.nav.tags'|trans({}, 'admin'), url: path('admin_tag_index') },
            { label: 'tags.admin.new.title'|trans({}, 'tags') }
        ]
    } %}

    <h1 class="h3 mb-4">{{ 'tags.admin.new.title'|trans({}, 'tags') }}</h1>

    {{ form_start(form) }}
        {% embed '_components/_card.html.twig' %}
            {% block card_body %}
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                {{ form_row(form.frameworkCode) }}
                {{ form_row(form.color) }}
                {{ form_row(form.description) }}
            {% endblock %}
            {% block card_footer %}
                <div class="card-footer d-flex gap-2">
                    <button type="submit" class="fa-cyber-btn fa-cyber-btn--primary">
                        <i class="fa-icon fa-icon--ui-check" aria-hidden="true"></i>
                        {{ 'tags.admin.action.save'|trans({}, 'tags') }}
                    </button>
                    <a href="{{ path('admin_tag_index') }}" class="fa-cyber-btn fa-cyber-btn--ghost">
                        {{ 'tags.admin.action.cancel'|trans({}, 'tags') }}
                    </a>
                </div>
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
</div>
{% endblock %}
