{% extends 'admin/layout.html.twig' %}

{% block admin_title %}{{ 'mfa_token.new'|trans({}, 'mfa') }}{% endblock %}
{% block admin_subtitle %}
    <p class="text-muted">{{ 'mfa_token.new.subtitle'|trans({}, 'mfa')|default('Neues MFA-Token erstellen') }}</p>
{% endblock %}

{% block admin_content %}
    <div class="card">
        <div class="card-header bg-primary text-white"><h5 class="mb-0">{{ 'mfa_token.new'|trans({}, 'mfa') }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-between pt-3 border-top">
                <a href="{{ path('admin_mfa_index') }}" class="btn btn-outline-secondary">
                    {{ 'common.back'|trans({}, 'messages') }}
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ 'common.save'|trans({}, 'messages') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
